In [1]:
import pandas as pd
print('pandas {}.'.format(pd.__version__))
import seaborn as sns
print('seaborn {}.'.format(sns.__version__))
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
print('numpy {}.'.format(np.__version__))
from sklearn.utils import shuffle
import dill
print('dill {}.'.format(dill.__version__))

pandas 2.0.0.
seaborn 0.12.2.
numpy 1.24.1.
dill 0.3.6.

In [2]:
df_clickhouse = pd.read_csv('../internship/clickhouse.csv')
df_clickhouse.shape

C:\Users\ACER\AppData\Local\Temp\ipykernel_9564\2277245211.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clickhouse = pd.read_csv('../internship/clickhouse.csv')

(5889167, 39)

In [15]:
df_clickhouse.head()

,auction_date_time,impression_hash,ssp,auction_id,impression_id,bid_id,auction_type,bid_floor,bid_price,loss_reason,...,site_id,tag_id,iab_category,ab_test,enter_utm_source,enter_utm_campaign,enter_utm_medium,enter_utm_content,enter_utm_term,event_date_time
0,2024-01-10 15:15:34,3595129331408507136,7,cmf8kpg76rmanjkfhlh0,mobicbottomx2002_1,3Y1MGDSF4DZ45TYK3J8BXRZH,fst_price,0.01,107056393,10,...,01gm531atx,mobicbottomx2002,[],automl,rtb_24smi,86,bidml,7f73d0f3b178,13926_25077,2024-01-10 15:15:45
1,2024-01-22 15:49:37,5501180719971990097,7,cmn68o876rmanjm2to9g,v45h0s63cj3bst4e_2,3Z0K7D4EPZH05TQNXA6PK9EF,fst_price,0.01,61879580,19,...,01hew0ev25,v45h0s63cj3bst4e,[],automl,rtb_24smi,86,bidml,0a395fe6dd05,16608_16536,2024-01-22 15:49:43
2,2024-01-11 21:47:01,8997213320937048206,7,cmg3f9876rmanjgkth00,tk6eb5nq1w1sxmt2_4,3Y4X9XT2D7CZD3GSM1E7PD2E,fst_price,0.01,22018806,0,...,01hew0ev25,tk6eb5nq1w1sxmt2,[],catboost,rtb_24smi,86,bidml,04376a608224,22858_25378,2024-01-11 21:47:02
3,2024-01-14 16:57:24,-6183089819839663183,7,cmhugh076rmanjice1i0,au2d6d7cjcpefc00_2,3YC3XSA2HXEBN986JGKHKEJ2,fst_price,0.01,68345961,2,...,01gm531atx,au2d6d7cjcpefc00,[],automl,rtb_24smi,86,bidml,9b209a09a68a,30261_24285,2024-01-14 16:57:26
4,2024-01-16 13:12:22,2397132522009946486,7,cmj5d1g76rmanjgu50og,ou9j4n9sqtfe8400_1,3YGVV5E15PV4P9MCA4PR4APY,fst_price,0.01,16396436,0,...,01gm531atx,ou9j4n9sqtfe8400,[],automl,rtb_24smi,86,bidml,8d65123ad67e,15975_15005,2024-01-16 13:12:22

In [16]:
df_clickhouse.columns

Index(['auction_date_time', 'impression_hash', 'ssp', 'auction_id',
       'impression_id', 'bid_id', 'auction_type', 'bid_floor', 'bid_price',
       'loss_reason', 'is_win', 'pay_price', 'is_pay', 'view', 'place_number',
       'click', 'ssp_user_id', 'creative_id', 'campaign_id', 'stream_id',
       'link_id', 'format', 'device', 'OS', 'browser', 'geo_country',
       'geo_city', 'ip_v4', 'ip_v6', 'site_id', 'tag_id', 'iab_category',
       'ab_test', 'enter_utm_source', 'enter_utm_campaign', 'enter_utm_medium',
       'enter_utm_content', 'enter_utm_term', 'event_date_time'],
      dtype='object')

In [24]:
df_clickhouse.drop(['impression_hash', 'ssp', 'auction_id', 'bid_id', 'auction_type', 'bid_floor', 'bid_price', 'is_win', 'pay_price', 'is_pay', 'ssp_user_id', 'campaign_id', 'stream_id', 'link_id', 'ip_v4', 'ip_v6', 'site_id', 'iab_category', 'ab_test', 'enter_utm_source', 'enter_utm_campaign', 'enter_utm_medium', 'enter_utm_content', 'enter_utm_term', 'auction_date_time'], axis = 1, inplace = True)

KeyError: "['impression_hash', 'ssp', 'auction_id', 'bid_id', 'auction_type', 'bid_floor', 'bid_price', 'is_win', 'pay_price', 'is_pay', 'ssp_user_id', 'campaign_id', 'stream_id', 'link_id', 'ip_v4', 'ip_v6', 'site_id', 'iab_category', 'ab_test', 'enter_utm_source', 'enter_utm_campaign', 'enter_utm_medium', 'enter_utm_content', 'enter_utm_term', 'auction_date_time'] not found in axis"

In [ ]:
df_creatives = pd.read_csv('../internship/creatives.csv')
df_creatives.shape

In [25]:
df_creatives.head()

,creative_id,status,is_deleted,campaign_id,user_id,stream_id,theme,second_theme,iab_category,image,image_extension,mime_type,image_tag,created_at,updated_at
0,00796183dbef,paused,0,77,9,77,default,default,NaN,2cdfef1f0f412dd8f49de2fb,png,image/png,default,2023-09-07 16:22:59,2024-01-16 00:47:06
1,0381d514fa62,active,0,77,9,114,default,default,IAB7,c1debb134e564e2bc17a394c,jpg,image/jpeg,default,2023-08-23 10:35:02,2023-08-23 10:35:02
2,076906b2d8dc,active,0,77,9,86,нутра,жкт,IAB7,78cf565dd54d54250b103e20,jpg,image/jpeg,разное,2023-07-14 01:19:05,2023-09-20 14:24:51
3,0d6718e579f3,active,0,77,9,102,нутра,очищение,IAB7,55edaefd1fbbf8a02dcfff6b,jpg,image/jpeg,разное,2023-07-14 02:10:49,2023-07-14 02:10:49
4,0dca3845ddd4,active,0,77,9,80,нутра,паразиты,IAB7-19,3849d8af671a70dcfac42116,jpg,image/jpeg,папилломы,2023-07-14 02:09:30,2023-07-14 02:09:30

In [26]:
df_leads = pd.read_csv('../internship/leads.csv')
df_leads.shape

(627, 20)

In [27]:
df_creatives = df_creatives.rename(columns={'id': 'creative_id'})

In [28]:
df = pd.merge(df_clickhouse, df_creatives, on="creative_id")
df.shape

(5889167, 28)

In [29]:
df.head()

,impression_id,loss_reason,view,place_number,click,creative_id,format,device,OS,browser,...,stream_id,theme,second_theme,iab_category,image,image_extension,mime_type,image_tag,created_at,updated_at
0,mobicbottomx2002_1,10,1,2,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
1,a6wc7yy2pvd9rfng_2,19,0,3,0,6b6df5b1f938,native,2,Win10,Edge,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
2,tk6eb5nq1w1sxmt2_1,19,0,2,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
3,ou9j4n9sqtfe8400_5,19,0,6,0,6b6df5b1f938,native,4,Android,Samsung Browser,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
4,ou9j4n9sqtfe8400_0,6,1,1,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02

In [30]:
# df[(df['view'] == 0) & (df['click'] == 1)][['auction_date_time', 'creative_id', 'view', 'click']]

In [31]:
def nan_viewed__deleting(X, y = None):
    X = X[X['view'] != 0]
    return X

In [32]:
df = nan_viewed__deleting(df)
df.shape

(2991847, 28)

In [33]:
new_df = df.copy()
new_df.columns

Index(['impression_id', 'loss_reason', 'view', 'place_number', 'click',
       'creative_id', 'format', 'device', 'OS', 'browser', 'geo_country',
       'geo_city', 'tag_id', 'event_date_time', 'status', 'is_deleted',
       'campaign_id', 'user_id', 'stream_id', 'theme', 'second_theme',
       'iab_category', 'image', 'image_extension', 'mime_type', 'image_tag',
       'created_at', 'updated_at'],
      dtype='object')

In [34]:
new_df.drop(['impression_id', 'loss_reason', 'view', 'place_number', 'format', 'device', 'OS', 'browser', 'geo_country', 'geo_city', 'status', 'is_deleted', 'campaign_id', 'user_id', 'stream_id', 'theme', 'second_theme', 'image', 'iab_category', 'image_extension', 'mime_type', 'image_tag', 'created_at', 'updated_at'], axis = 1, inplace = True)

In [35]:
# new_df = new_df.groupby(['creative_id', 'tag_id'])['click'].agg('sum')
# new_df

In [36]:
# new_df[(new_df['creative_id'] == 'fe183340ada3') & (new_df['tag_id'] == 'xuad69a9hb9hkbz9') & (new_df['click'] == 1)][['creative_id', 'tag_id', 'click']]

In [55]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2991847 entries, 0 to 5889165
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   click            int64
 1   creative_id      object
 2   tag_id           object
 3   event_date_time  object
dtypes: int64(1), object(3)
memory usage: 114.1+ MB

In [60]:
new_df['event_date_time'] = pd.to_datetime(new_df['event_date_time'], format='%Y-%m-%d %H:%M:%S').dt.date

In [62]:
new_df.shape

(2991847, 4)

In [61]:
new_df.head()

    click   creative_id            tag_id event_date_time
0       0  6b6df5b1f938  mobicbottomx2002      2024-01-10
4       0  6b6df5b1f938  ou9j4n9sqtfe8400      2024-01-15
8       0  6b6df5b1f938  my0fq2bg0twts35c      2024-01-14
9       0  6b6df5b1f938  mobicbottomx2002      2024-01-18
10      1  6b6df5b1f938  ou9j4n9sqtfe8400      2024-01-10

In [86]:
new_df['event_date_time'] = pd.to_datetime(new_df['event_date_time'], format='%Y-%m-%d')

In [87]:
new_df_sum_by_click = new_df.groupby(['creative_id', 'tag_id', 'event_date_time'])['click'].agg('sum').reset_index()

In [88]:
new_df_sum_by_click.shape

(94951, 4)

In [89]:
new_df_sum_by_click.head()

    creative_id            tag_id event_date_time  click
0  00796183dbef  a6wc7yy2pvd9rfng      2024-01-11      0
1  00796183dbef  a6wc7yy2pvd9rfng      2024-01-12      0
2  00796183dbef  a6wc7yy2pvd9rfng      2024-01-14      0
3  00796183dbef  au2d6d7cjcpefc00      2024-01-11      0
4  00796183dbef  au2d6d7cjcpefc00      2024-01-14      0

In [90]:
new_df_agg_coef = new_df_sum_by_click.copy()

In [70]:
import datetime

In [94]:
now = datetime.datetime.now()
print(now)
print(type(now))

2024-02-16 10:57:03.621576
<class 'datetime.datetime'>

In [119]:
new_df_agg_coef['coef'] = 1 -( (now - new_df_agg_coef['event_date_time']).dt.days / 100)

In [120]:
new_df_agg_coef.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94951 entries, 0 to 94950
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   creative_id      94951 non-null  object
 1   tag_id           94951 non-null  object
 2   event_date_time  94951 non-null  datetime64[ns]
 3   click            94951 non-null  int64
 4   coef             94951 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 3.6+ MB

In [121]:
new_df_agg_coef

        creative_id            tag_id event_date_time  click  coef
0      00796183dbef  a6wc7yy2pvd9rfng      2024-01-11      0  0.64
1      00796183dbef  a6wc7yy2pvd9rfng      2024-01-12      0  0.65
2      00796183dbef  a6wc7yy2pvd9rfng      2024-01-14      0  0.67
3      00796183dbef  au2d6d7cjcpefc00      2024-01-11      0  0.64
4      00796183dbef  au2d6d7cjcpefc00      2024-01-14      0  0.67
...             ...               ...             ...    ...   ...
94946  fe183340ada3  zmxsk6zf7v3svqq6      2024-01-19      0  0.72
94947  fe183340ada3  zmxsk6zf7v3svqq6      2024-01-20      0  0.73
94948  fe183340ada3  zmxsk6zf7v3svqq6      2024-01-21      0  0.74
94949  fe183340ada3  zmxsk6zf7v3svqq6      2024-01-22      0  0.75
94950  fe183340ada3  zmxsk6zf7v3svqq6      2024-01-23      1  0.76

[94951 rows x 5 columns]

In [122]:
# new_df = pd.DataFrame({'creative_id':new_df.index, 'click_count':new_df.values})

In [123]:
new_df_sum_by_click = new_df_agg_coef.copy()

In [124]:
new_df_sum_by_click.head()

    creative_id            tag_id event_date_time  click  coef
0  00796183dbef  a6wc7yy2pvd9rfng      2024-01-11      0  0.64
1  00796183dbef  a6wc7yy2pvd9rfng      2024-01-12      0  0.65
2  00796183dbef  a6wc7yy2pvd9rfng      2024-01-14      0  0.67
3  00796183dbef  au2d6d7cjcpefc00      2024-01-11      0  0.64
4  00796183dbef  au2d6d7cjcpefc00      2024-01-14      0  0.67

Оставить только где order_status == 1

In [41]:
df_leads.shape

(627, 20)

In [125]:
df_leads = df_leads[df_leads['order_status'] == 1]
df_leads.shape

(197, 20)

In [126]:
df_leads_new = df_leads[['creative_id','tag_id', 'profit']]
df_leads_new

      creative_id            tag_id   profit
0    0f5ad4107130  mobicbottom00000  1407.36
3    71ffc4d8760b  xuad69a9hb9hkbz9  1800.00
5    d7f85e832625  b7hw8pcjw0n5f60v  1408.48
6    71ffc4d8760b  ou9j4n9sqtfe8406  1800.00
8    10a81a65eaf0  ou9j4n9sqtfe8403  1900.00
..            ...               ...      ...
611  32264536a436  ou9j4n9sqtfe8400  1674.09
613  32264536a436  ou9j4n9sqtfe8400  1431.20
616  aabb916b3651  hvbyt95qx9rch01g  1700.00
623  d7f85e832625  ou9j4n9sqtfe8401  1418.24
625  d7f85e832625  mf4be14r1r2wkpaw  1409.76

[197 rows x 3 columns]

In [127]:
df_leads_new = df_leads_new.groupby(['creative_id','tag_id'])['profit'].agg('sum').reset_index()
df_leads_new.head()

    creative_id            tag_id   profit
0  0381d514fa62  mobicbottomx2002  1800.00
1  0d6718e579f3  tk6eb5nq1w1sxmt2  1600.00
2  0f5ad4107130  d4zc0rh1hsk442ck  1672.76
3  0f5ad4107130  mobicbottom00000  1407.36
4  10a81a65eaf0  mobicbottomx2002  1900.00

In [128]:
df_leads_new.shape

(111, 3)

In [110]:
# df_leads_new = pd.DataFrame({'creative_id':df_leads_new.index, 'profit_sum':df_leads_new.values})
# df_leads_new

In [129]:
df = pd.merge(new_df_sum_by_click, df_leads_new, on = ['creative_id','tag_id'])
df.shape

(1517, 6)

In [130]:
df.head()

    creative_id            tag_id event_date_time  click  coef  profit
0  0381d514fa62  mobicbottomx2002      2024-01-09     13  0.62  1800.0
1  0381d514fa62  mobicbottomx2002      2024-01-10      9  0.63  1800.0
2  0381d514fa62  mobicbottomx2002      2024-01-11      7  0.64  1800.0
3  0381d514fa62  mobicbottomx2002      2024-01-12      3  0.65  1800.0
4  0381d514fa62  mobicbottomx2002      2024-01-13      0  0.66  1800.0

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   creative_id      1517 non-null   object
 1   tag_id           1517 non-null   object
 2   event_date_time  1517 non-null   datetime64[ns]
 3   click            1517 non-null   int64
 4   coef             1517 non-null   float64
 5   profit           1517 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 71.2+ KB

In [132]:
df['profit_by_coef'] = df['profit'] * df['coef']
df.head()

,creative_id,tag_id,event_date_time,click,coef,profit,profit_by_coef
0,0381d514fa62,mobicbottomx2002,2024-01-09,13,0.62,1800.0,1116.0
1,0381d514fa62,mobicbottomx2002,2024-01-10,9,0.63,1800.0,1134.0
2,0381d514fa62,mobicbottomx2002,2024-01-11,7,0.64,1800.0,1152.0
3,0381d514fa62,mobicbottomx2002,2024-01-12,3,0.65,1800.0,1170.0
4,0381d514fa62,mobicbottomx2002,2024-01-13,0,0.66,1800.0,1188.0

In [144]:
df_final = df.groupby(['creative_id','tag_id'])[['click', 'profit_by_coef']].agg('sum').reset_index()

In [145]:
df_final.head()

    creative_id            tag_id  click  profit_by_coef
0  0381d514fa62  mobicbottomx2002     49      18630.0000
1  0d6718e579f3  tk6eb5nq1w1sxmt2    189      16560.0000
2  0f5ad4107130  d4zc0rh1hsk442ck      1       4349.1760
3  0f5ad4107130  mobicbottom00000      3       5573.1456
4  10a81a65eaf0  mobicbottomx2002     76      19665.0000

In [146]:
df_final['click_profit'] = df_final['profit_by_coef'] / df_final['click']
df_final.sort_values('click_profit', ascending=False).head()

      creative_id            tag_id  click  profit_by_coef  click_profit
46   59c2ae0feee8  pcicbottomx20002      1         17680.0  17680.000000
79   aabb916b3651  hvbyt95qx9rch01g      1         17595.0  17595.000000
67   84cbfabe2c00  jgxem6q2fc5vtq93      1         16560.0  16560.000000
76   95a50ce2b4ea  mobicbottompc000      3         17680.0   5893.333333
106  eed0464861ff  lu1fyz262952yqdw      4         19665.0   4916.250000

In [138]:
df_final.shape

(111, 5)

In [147]:
cpc_dict = {}
cpc_dict['cpc_df'] = df_final.drop(['click', 'profit_by_coef'], axis = 1)


with open("../pickles/cpc_with_weight.pkl", "wb") as f:
        dill.Pickler(f, recurse=True).dump(cpc_dict)