# 0. Объявление библиотек

In [1]:
import pandas as pd
print('pandas {}.'.format(pd.__version__))
import seaborn as sns
print('seaborn {}.'.format(sns.__version__))
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
print('numpy {}.'.format(np.__version__))
from sklearn.utils import shuffle
import dill
print('dill {}.'.format(dill.__version__))
import datetime

pandas 2.0.0.
seaborn 0.12.2.
numpy 1.24.1.
dill 0.3.6.

# 1. Чтение датасетов

In [2]:
df_clickhouse = pd.read_csv('../internship/clickhouse.csv')
df_clickhouse.shape

C:\Users\ACER\AppData\Local\Temp\ipykernel_21412\2277245211.py:1: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clickhouse = pd.read_csv('../internship/clickhouse.csv')

(5889167, 39)

In [3]:
df_clickhouse.head()

,auction_date_time,impression_hash,ssp,auction_id,impression_id,bid_id,auction_type,bid_floor,bid_price,loss_reason,...,site_id,tag_id,iab_category,ab_test,enter_utm_source,enter_utm_campaign,enter_utm_medium,enter_utm_content,enter_utm_term,event_date_time
0,2024-01-10 15:15:34,3595129331408507136,7,cmf8kpg76rmanjkfhlh0,mobicbottomx2002_1,3Y1MGDSF4DZ45TYK3J8BXRZH,fst_price,0.01,107056393,10,...,01gm531atx,mobicbottomx2002,[],automl,rtb_24smi,86,bidml,7f73d0f3b178,13926_25077,2024-01-10 15:15:45
1,2024-01-22 15:49:37,5501180719971990097,7,cmn68o876rmanjm2to9g,v45h0s63cj3bst4e_2,3Z0K7D4EPZH05TQNXA6PK9EF,fst_price,0.01,61879580,19,...,01hew0ev25,v45h0s63cj3bst4e,[],automl,rtb_24smi,86,bidml,0a395fe6dd05,16608_16536,2024-01-22 15:49:43
2,2024-01-11 21:47:01,8997213320937048206,7,cmg3f9876rmanjgkth00,tk6eb5nq1w1sxmt2_4,3Y4X9XT2D7CZD3GSM1E7PD2E,fst_price,0.01,22018806,0,...,01hew0ev25,tk6eb5nq1w1sxmt2,[],catboost,rtb_24smi,86,bidml,04376a608224,22858_25378,2024-01-11 21:47:02
3,2024-01-14 16:57:24,-6183089819839663183,7,cmhugh076rmanjice1i0,au2d6d7cjcpefc00_2,3YC3XSA2HXEBN986JGKHKEJ2,fst_price,0.01,68345961,2,...,01gm531atx,au2d6d7cjcpefc00,[],automl,rtb_24smi,86,bidml,9b209a09a68a,30261_24285,2024-01-14 16:57:26
4,2024-01-16 13:12:22,2397132522009946486,7,cmj5d1g76rmanjgu50og,ou9j4n9sqtfe8400_1,3YGVV5E15PV4P9MCA4PR4APY,fst_price,0.01,16396436,0,...,01gm531atx,ou9j4n9sqtfe8400,[],automl,rtb_24smi,86,bidml,8d65123ad67e,15975_15005,2024-01-16 13:12:22

In [4]:
df_clickhouse.columns

Index(['auction_date_time', 'impression_hash', 'ssp', 'auction_id',
       'impression_id', 'bid_id', 'auction_type', 'bid_floor', 'bid_price',
       'loss_reason', 'is_win', 'pay_price', 'is_pay', 'view', 'place_number',
       'click', 'ssp_user_id', 'creative_id', 'campaign_id', 'stream_id',
       'link_id', 'format', 'device', 'OS', 'browser', 'geo_country',
       'geo_city', 'ip_v4', 'ip_v6', 'site_id', 'tag_id', 'iab_category',
       'ab_test', 'enter_utm_source', 'enter_utm_campaign', 'enter_utm_medium',
       'enter_utm_content', 'enter_utm_term', 'event_date_time'],
      dtype='object')

In [5]:
# Удаляем лишние признаки
df_clickhouse.drop(['impression_hash', 'ssp', 'auction_id', 'bid_id', 'auction_type', 'bid_floor', 'bid_price', 'is_win', 'pay_price', 'is_pay', 'ssp_user_id', 'campaign_id', 'stream_id', 'link_id', 'ip_v4', 'ip_v6', 'site_id', 'iab_category', 'ab_test', 'enter_utm_source', 'enter_utm_campaign', 'enter_utm_medium', 'enter_utm_content', 'enter_utm_term', 'auction_date_time'], axis = 1, inplace = True)

In [6]:
df_creatives = pd.read_csv('../internship/creatives.csv')
df_creatives.shape

(132, 15)

In [7]:
df_creatives.head()

,id,status,is_deleted,campaign_id,user_id,stream_id,theme,second_theme,iab_category,image,image_extension,mime_type,image_tag,created_at,updated_at
0,00796183dbef,paused,0,77,9,77,default,default,NaN,2cdfef1f0f412dd8f49de2fb,png,image/png,default,2023-09-07 16:22:59,2024-01-16 00:47:06
1,0381d514fa62,active,0,77,9,114,default,default,IAB7,c1debb134e564e2bc17a394c,jpg,image/jpeg,default,2023-08-23 10:35:02,2023-08-23 10:35:02
2,076906b2d8dc,active,0,77,9,86,нутра,жкт,IAB7,78cf565dd54d54250b103e20,jpg,image/jpeg,разное,2023-07-14 01:19:05,2023-09-20 14:24:51
3,0d6718e579f3,active,0,77,9,102,нутра,очищение,IAB7,55edaefd1fbbf8a02dcfff6b,jpg,image/jpeg,разное,2023-07-14 02:10:49,2023-07-14 02:10:49
4,0dca3845ddd4,active,0,77,9,80,нутра,паразиты,IAB7-19,3849d8af671a70dcfac42116,jpg,image/jpeg,папилломы,2023-07-14 02:09:30,2023-07-14 02:09:30

In [8]:
df_leads = pd.read_csv('../internship/leads.csv')
df_leads.shape

(627, 20)

In [9]:
df_creatives = df_creatives.rename(columns={'id': 'creative_id'})

In [107]:
# Объединяем датафреймы
df = pd.merge(df_clickhouse, df_creatives, on="creative_id")
df.shape

(5889167, 28)

In [108]:
df.head()

,impression_id,loss_reason,view,place_number,click,creative_id,format,device,OS,browser,...,stream_id,theme,second_theme,iab_category,image,image_extension,mime_type,image_tag,created_at,updated_at
0,mobicbottomx2002_1,10,1,2,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
1,a6wc7yy2pvd9rfng_2,19,0,3,0,6b6df5b1f938,native,2,Win10,Edge,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
2,tk6eb5nq1w1sxmt2_1,19,0,2,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
3,ou9j4n9sqtfe8400_5,19,0,6,0,6b6df5b1f938,native,4,Android,Samsung Browser,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02
4,ou9j4n9sqtfe8400_0,6,1,1,0,6b6df5b1f938,native,4,Android,Chrome,...,111,default,default,IAB7,b22f3655f7be6cd9d37e9b44,jpg,image/jpeg,default,2023-10-11 12:32:35,2023-11-08 13:23:02

In [110]:
def nan_viewed__deleting(X, y = None):
    X = X[X['view'] != 0]
    return X

In [111]:
# Удаляем не показанные креативы
df = nan_viewed__deleting(df)
df.shape

(2991847, 28)

In [115]:
new_df = df.copy()
new_df.columns

Index(['impression_id', 'loss_reason', 'view', 'place_number', 'click',
       'creative_id', 'format', 'device', 'OS', 'browser', 'geo_country',
       'geo_city', 'tag_id', 'event_date_time', 'status', 'is_deleted',
       'campaign_id', 'user_id', 'stream_id', 'theme', 'second_theme',
       'iab_category', 'image', 'image_extension', 'mime_type', 'image_tag',
       'created_at', 'updated_at'],
      dtype='object')

In [116]:
# Удаляем избыточные признаки
new_df.drop(['event_date_time', 'impression_id', 'loss_reason', 'view', 'place_number', 'format', 'device', 'OS', 'browser', 'geo_country', 'geo_city', 'status', 'is_deleted', 'campaign_id', 'user_id', 'stream_id', 'theme', 'second_theme', 'image', 'iab_category', 'image_extension', 'mime_type', 'image_tag', 'created_at', 'updated_at'], axis = 1, inplace = True)

In [119]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2991847 entries, 0 to 5889165
Data columns (total 3 columns):
 #   Column       Dtype
---  ------       -----
 0   click        int64
 1   creative_id  object
 2   tag_id       object
dtypes: int64(1), object(2)
memory usage: 91.3+ MB

In [120]:
new_df.head()

    click   creative_id            tag_id
0       0  6b6df5b1f938  mobicbottomx2002
4       0  6b6df5b1f938  ou9j4n9sqtfe8400
8       0  6b6df5b1f938  my0fq2bg0twts35c
9       0  6b6df5b1f938  mobicbottomx2002
10      1  6b6df5b1f938  ou9j4n9sqtfe8400

In [121]:
# Аггрегируем по сумме кликов
new_df_sum_by_click = new_df_sum_by_click.groupby(['creative_id', 'tag_id'])['click'].agg('sum').reset_index()

In [122]:
new_df_sum_by_click.shape

(4367, 3)

In [123]:
new_df_sum_by_click.head()

    creative_id            tag_id  click
0  00796183dbef  mobicbottom00000      1
1  00796183dbef  mobicbottompc000      1
2  00796183dbef  ou9j4n9sqtfe8401      1
3  00796183dbef  ou9j4n9sqtfe8402      1
4  00796183dbef  ou9j4n9sqtfe8403      1

In [124]:
# Удаляем примеры с 0-ми кликами
new_df_sum_by_click = new_df_sum_by_click[new_df_sum_by_click['click'] != 0]
new_df_sum_by_click

       creative_id            tag_id  click
0     00796183dbef  mobicbottom00000      1
1     00796183dbef  mobicbottompc000      1
2     00796183dbef  ou9j4n9sqtfe8401      1
3     00796183dbef  ou9j4n9sqtfe8402      1
4     00796183dbef  ou9j4n9sqtfe8403      1
...            ...               ...    ...
4362  fe183340ada3  tk6eb5nq1w1sxmt2     11
4363  fe183340ada3  v45h0s63cj3bst4e      4
4364  fe183340ada3  vt5ha9k4ys0act6q      4
4365  fe183340ada3  xuad69a9hb9hkbz9      3
4366  fe183340ada3  zmxsk6zf7v3svqq6      3

[4367 rows x 3 columns]

In [42]:
df_leads.shape

(627, 20)

In [43]:
# Удаляем лиды со статусом == 0
df_leads = df_leads[df_leads['order_status'] == 1]
df_leads.shape

(197, 20)

In [58]:
df_leads.info()

<class 'pandas.core.frame.DataFrame'>
Index: 197 entries, 0 to 625
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   creative_id   197 non-null    object
 1   site_id       197 non-null    object
 2   tag_id        197 non-null    object
 3   ab_test       197 non-null    object
 4   stream_id     197 non-null    int64
 5   link_id       197 non-null    int64
 6   geo_country   197 non-null    object
 7   device_type   197 non-null    int64
 8   browser       197 non-null    object
 9   OS            197 non-null    object
 10  utm_source    195 non-null    object
 11  utm_campaign  195 non-null    float64
 12  utm_medium    195 non-null    object
 13  utm_content   195 non-null    object
 14  utm_term      195 non-null    object
 15  order_status  197 non-null    int64
 16  profit        197 non-null    float64
 17  campaign_id   197 non-null    int64
 18  created_at    197 non-null    object
 19  updated_at    197 non-null    object
dtypes: float64(2), int64(5), object(13)
memory usage: 32.3+ KB

In [62]:
# Преобразуем дату последнего обновления информации в формат даты
df_leads['updated_at'] = pd.to_datetime(df_leads['updated_at'], format='%Y-%m-%d %H:%M:%S').dt.date
df_leads['updated_at'] = pd.to_datetime(df_leads['updated_at'], format='%Y-%m-%d')
df_leads.head()

,creative_id,site_id,tag_id,ab_test,stream_id,link_id,geo_country,device_type,browser,OS,utm_source,utm_campaign,utm_medium,utm_content,utm_term,order_status,profit,campaign_id,created_at,updated_at
0,0f5ad4107130,01gm531atx,mobicbottom00000,catboost,77,3724,ru,4,Yandex Browser,iOS,rtb_24smi,86.0,bidml,8d65123ad67e,15975_15005,1,1407.36,77,2024-01-15 00:58:21,2024-01-15
3,71ffc4d8760b,01gm531atx,xuad69a9hb9hkbz9,catboost,80,3519,ru,4,Android WebView,Android,rtb_24smi,86.0,bidml,8d65123ad67e,14296_13926,1,1800.00,77,2024-01-21 09:31:18,2024-01-21
5,d7f85e832625,01hew0ev25,b7hw8pcjw0n5f60v,catboost,269,4380,ru,5,Chrome,Android,rtb_24smi,86.0,bidml,0a395fe6dd05,15314_15024,1,1408.48,77,2024-01-23 07:50:55,2024-01-23
6,71ffc4d8760b,01gm531atx,ou9j4n9sqtfe8406,catboost,80,3519,ru,5,Chrome,Android,rtb_24smi,86.0,bidml,9432b2da6f6b,14296_13926,1,1800.00,77,2024-01-11 15:24:42,2024-01-11
8,10a81a65eaf0,01gm531atx,ou9j4n9sqtfe8403,automl,86,3666,ru,4,Chrome,Android,rtb_24smi,86.0,bidml,8d65123ad67e,16608_16536,1,1900.00,77,2024-01-18 19:01:46,2024-01-19

In [130]:
# Исключаем избыточные признаки
df_leads_new = df_leads[['creative_id','tag_id', 'profit', 'updated_at']]
df_leads_new

      creative_id            tag_id   profit updated_at
0    0f5ad4107130  mobicbottom00000  1407.36 2024-01-15
3    71ffc4d8760b  xuad69a9hb9hkbz9  1800.00 2024-01-21
5    d7f85e832625  b7hw8pcjw0n5f60v  1408.48 2024-01-23
6    71ffc4d8760b  ou9j4n9sqtfe8406  1800.00 2024-01-11
8    10a81a65eaf0  ou9j4n9sqtfe8403  1900.00 2024-01-19
..            ...               ...      ...        ...
611  32264536a436  ou9j4n9sqtfe8400  1674.09 2024-01-17
613  32264536a436  ou9j4n9sqtfe8400  1431.20 2024-01-19
616  aabb916b3651  hvbyt95qx9rch01g  1700.00 2024-01-17
623  d7f85e832625  ou9j4n9sqtfe8401  1418.24 2024-01-18
625  d7f85e832625  mf4be14r1r2wkpaw  1409.76 2024-01-17

[197 rows x 4 columns]

In [131]:
df_leads_new.drop_duplicates(inplace=True)

C:\Users\ACER\AppData\Local\Temp\ipykernel_21412\390813779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_leads_new.drop_duplicates(inplace=True)

In [132]:
# Аггрегируем профит по самой свежей дате обновления информации
df_leads_new = df_leads_new.groupby(['creative_id', 'tag_id', 'profit'])['updated_at'].agg('max').reset_index()

In [133]:
# Считаем давность информации в днях от текукщей даты
now = datetime.datetime.now()
print(now)
print(type(now))
df_leads_new['days_ago'] = (now - df_leads_new['updated_at']).dt.days
df_leads_new

2024-02-19 10:56:02.190722
<class 'datetime.datetime'>

      creative_id            tag_id   profit updated_at  days_ago
0    0381d514fa62  mobicbottomx2002  1800.00 2024-01-11        39
1    0d6718e579f3  tk6eb5nq1w1sxmt2  1600.00 2024-01-21        29
2    0f5ad4107130  d4zc0rh1hsk442ck  1672.76 2024-01-17        33
3    0f5ad4107130  mobicbottom00000  1407.36 2024-01-15        35
4    10a81a65eaf0  mobicbottomx2002  1900.00 2024-01-10        40
..            ...               ...      ...        ...       ...
159  eed0464861ff  lu1fyz262952yqdw  1900.00 2024-01-16        34
160  eed0464861ff  ou9j4n9sqtfe8400  2100.00 2024-01-23        27
161  eed0464861ff  tk6eb5nq1w1sxmt2  2100.00 2024-01-13        37
162  eff73ed9b9db  tk6eb5nq1w1sxmt2  1800.00 2024-01-16        34
163  f7877f9ff461  s98ycfpyav5memrf  1800.00 2024-01-14        36

[164 rows x 5 columns]

In [134]:
# Принимаем самое большое количество дней с текущей даты за 1 и считаем коэффициенты, ориентируясь на степень устаревания информации
max_days = df_leads_new['days_ago'].max()
df_leads_new['coef'] = 1 - ((df_leads_new['days_ago'] / max_days))
df_leads_new.head()

    creative_id            tag_id   profit updated_at  days_ago      coef
0  0381d514fa62  mobicbottomx2002  1800.00 2024-01-11        39  0.048780
1  0d6718e579f3  tk6eb5nq1w1sxmt2  1600.00 2024-01-21        29  0.292683
2  0f5ad4107130  d4zc0rh1hsk442ck  1672.76 2024-01-17        33  0.195122
3  0f5ad4107130  mobicbottom00000  1407.36 2024-01-15        35  0.146341
4  10a81a65eaf0  mobicbottomx2002  1900.00 2024-01-10        40  0.024390

In [136]:
max_days

41

In [138]:
df_leads_new['coef'].max()

0.3414634146341463

In [139]:
df_leads_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   creative_id  164 non-null    object
 1   tag_id       164 non-null    object
 2   profit       164 non-null    float64
 3   updated_at   164 non-null    datetime64[ns]
 4   days_ago     164 non-null    int32
 5   coef         164 non-null    float64
dtypes: datetime64[ns](1), float64(2), int32(1), object(2)
memory usage: 7.2+ KB

In [140]:
# Считаем профит с учетом коэффициента и аггрегируем по среднему значению коэффициента
df_leads_new['profit_by_coef'] = df_leads_new['profit'] * df_leads_new['coef']
df_leads_new = df_leads_new[['creative_id', 'tag_id', 'profit_by_coef']]
df_leads_new = df_leads_new.groupby(['creative_id', 'tag_id'])['profit_by_coef'].agg('mean').reset_index()
df_leads_new

      creative_id            tag_id  profit_by_coef
0    0381d514fa62  mobicbottomx2002       87.804878
1    0d6718e579f3  tk6eb5nq1w1sxmt2      468.292683
2    0f5ad4107130  d4zc0rh1hsk442ck      326.392195
3    0f5ad4107130  mobicbottom00000      205.955122
4    10a81a65eaf0  mobicbottomx2002       46.341463
..            ...               ...             ...
106  eed0464861ff  lu1fyz262952yqdw      324.390244
107  eed0464861ff  ou9j4n9sqtfe8400      717.073171
108  eed0464861ff  tk6eb5nq1w1sxmt2      204.878049
109  eff73ed9b9db  tk6eb5nq1w1sxmt2      307.317073
110  f7877f9ff461  s98ycfpyav5memrf      219.512195

[111 rows x 3 columns]

In [141]:
# Мержим лиды и клики
df = pd.merge(new_df_sum_by_click, df_leads_new, on = ['creative_id','tag_id'])
df.shape

(111, 4)

In [142]:
df.head()

    creative_id            tag_id  click  profit_by_coef
0  0381d514fa62  mobicbottomx2002     49       87.804878
1  0d6718e579f3  tk6eb5nq1w1sxmt2    189      468.292683
2  0f5ad4107130  d4zc0rh1hsk442ck      1      326.392195
3  0f5ad4107130  mobicbottom00000      3      205.955122
4  10a81a65eaf0  mobicbottomx2002     76       46.341463

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   creative_id     111 non-null    object
 1   tag_id          111 non-null    object
 2   click           111 non-null    int64
 3   profit_by_coef  111 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.6+ KB

In [144]:
# Считаем профит от клика с учетом коэффициентов
df['click_profit'] = df['profit_by_coef'] / df['click']
#df['click_profit'] = df['profit_by_click'] * df['coef']
df.head()

    creative_id            tag_id  click  profit_by_coef  click_profit
0  0381d514fa62  mobicbottomx2002     49       87.804878      1.791936
1  0d6718e579f3  tk6eb5nq1w1sxmt2    189      468.292683      2.477739
2  0f5ad4107130  d4zc0rh1hsk442ck      1      326.392195    326.392195
3  0f5ad4107130  mobicbottom00000      3      205.955122     68.651707
4  10a81a65eaf0  mobicbottomx2002     76       46.341463      0.609756

In [145]:
df_final = df.copy()

In [146]:
df_final[df_final['click'] == 0]

Empty DataFrame
Columns: [creative_id, tag_id, click, profit_by_coef, click_profit]
Index: []

In [147]:
df_final.head()

    creative_id            tag_id  click  profit_by_coef  click_profit
0  0381d514fa62  mobicbottomx2002     49       87.804878      1.791936
1  0d6718e579f3  tk6eb5nq1w1sxmt2    189      468.292683      2.477739
2  0f5ad4107130  d4zc0rh1hsk442ck      1      326.392195    326.392195
3  0f5ad4107130  mobicbottom00000      3      205.955122     68.651707
4  10a81a65eaf0  mobicbottomx2002     76       46.341463      0.609756

In [148]:
df_final.shape

(111, 5)

In [150]:
# Сохраняем результат
cpc_dict = {}
cpc_dict['cpc_df'] = df_final.drop(['click', 'profit_by_coef'], axis = 1)


with open("../pickles/cpc_with_weight.pkl", "wb") as f:
        dill.Pickler(f, recurse=True).dump(cpc_dict)