In [1]:
import pandas as pd

In [2]:
res = pd.read_csv('../data/res.csv')
res.shape

(14, 5)

In [3]:
res

   imp_id    tagid   creative_id        CPM  plcmtcnt
0   imp_0  tagid_1  eed0464861ff  63.784269         1
1   imp_1  tagid_1  eed0464861ff  63.784269         1
2   imp_0  tagid_1  32264536a436  24.423562         1
3   imp_1  tagid_1  32264536a436  24.423562         1
4   imp_0  tagid_1  d7f85e832625  36.715511         1
5   imp_1  tagid_1  d7f85e832625  36.715511         1
6   imp_0  tagid_1  417da129da7f  43.789965         1
7   imp_1  tagid_1  417da129da7f  43.789965         1
8   imp_2  tagid_2  7070f4519016  48.612580         4
9   imp_2  tagid_2  8535c2d8679f  31.235580         4
10  imp_2  tagid_2  331832f7e8bd  58.696811         4
11  imp_2  tagid_2  1932ba251637  31.787209         4
12  imp_2  tagid_2  2b9c7f79f529  44.121975         4
13  imp_2  tagid_2  d67ab8ecea54  30.978336         4

In [4]:
imps_list = res['imp_id'].unique()

In [5]:
rs = pd.DataFrame(columns = ['imp_id', 'tagid', 'creative_id', 'CPM'])

In [6]:
 for imp  in imps_list:

        temp = res[res['imp_id'] == imp]
        temp = temp.nlargest(temp['plcmtcnt'].unique()[0], 'CPM')
        rs = pd.concat([rs, temp[['imp_id', 'tagid', 'creative_id', 'CPM']]], ignore_index=True)
        for creative_id in temp['creative_id'].unique():
        #      res = res[(res['imp_id'] != imp) and (res['creative_id'] != creative_id)]
            res.drop(res.loc[res['creative_id'] == creative_id].index, inplace=True)
            #res.drop(res.loc[(res['tagid']==imp) & (res['creative_id'] == creative_id)].index, inplace=True)
            #res.drop(temp.index, axis=0,inplace=True)

In [7]:
rs

  imp_id    tagid   creative_id        CPM
0  imp_0  tagid_1  eed0464861ff  63.784269
1  imp_1  tagid_1  417da129da7f  43.789965
2  imp_2  tagid_2  331832f7e8bd  58.696811
3  imp_2  tagid_2  7070f4519016  48.612580
4  imp_2  tagid_2  2b9c7f79f529  44.121975
5  imp_2  tagid_2  1932ba251637  31.787209